<h1>Billboards</h1>
<h4>Welcome <%= current_user.email %></h4>
<%= link_to 'Add Billboard', new_billboard_path %>
<hr />
<ul>
  <% @billboards.each do |billboard| %>
    <li>
      <%= link_to billboard.name, billboard %>
    </li>
  <% end %>
</ul>