<nav>
  <div class="nav-wrapper">
    <a href="class="brand-logo right"><%= current_user.full_name %></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><%= link_to 'Billboards', billboards_path %>  </li>
      <li><%= link_to 'Artists', artists_path %>  </li>
      <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %> </li>
    </ul>
  </div>
</nav>